<a href="/api/session/github">GitHub</a>
<form action="/api/session/login" method="post">
    
    <ul>
        <li>
            <label for="name">Correo electrónico:</label>
            <input type="text" id="name" name="email"/>
        </li>
        <li>
            <label for="pss">Contraseña:</label>
            <input id="pss" name="password"/>
        </li>
        <a href="/session/register">¿No tienes cuenta?</a>
    </ul>
    <input type="submit" value="Iniciar sesión">
</form>