<h2>Bienvenido a la gentión de usuarios {{role}}:{{first_name}} {{last_name}}</h2>
<hr />
<a href="/api/session/deletesession" id="logout">Cerrar sesión</a>
<a href="/products">Product List</a>
<a href="/session/cart">Carrito</a>
<a href="/chat">Chat</a>
<h2>Lista de usuarios</h2>
<div id="usersDiv">

</div>

<script type="module">


    (async () => {
        const usersDiv = document.getElementById('usersDiv')
        const data = await fetch('/api/users/detail')
        const users = (await data.json()).payload
        await users.forEach(async (user) => {
            const usuario = document.createElement('article')
            usuario.innerHTML = (`
                        <h3>Nombre:${user.first_name} ${user.last_name}</h3>
                        <span>Email:${user.email}</span>
                        <label for="role">Rol:</label>
                    `)
            const roleChange = document.createElement('select')
            roleChange.setAttribute("name", "role")
            roleChange.setAttribute("id", "role")
            switch (user.role) {
                case "user":
                    roleChange.innerHTML = (`
                        <option value="admin">Admin</option>
                        <option value="premium">Premium</option>  
                        <option value="user" selected="selected">User</option>           
                    `)
                    break
                case "premium":
                    roleChange.innerHTML = (`
                        <option value="admin">Admin</option>
                        <option value="premium" selected="selected">Premium</option>  
                        <option value="user">User</option>           
                    `)
                    break
                case "admin":
                    roleChange.innerHTML = (`
                        <option value="admin" selected="selected">Admin</option>
                        <option value="premium">Premium</option> 
                        <option value="user">User</option>
                    `)
                    break
            
            }
            roleChange.addEventListener('change', async () => {
                const selectValue = document.getElementById("role")
                const res = await fetch(`http://localhost:8080/api/users/${user._id}`, {
                    method: "PUT",
                    body: JSON.stringify({ role: selectValue.value }),
                    headers: {
                        "Content-Type": "application/json",
                    },

                });

            })
            const deleteUserButton = document.createElement('button')
            deleteUserButton.setAttribute('id', 'deleteUserButton')
            deleteUserButton.innerText = ("Borrar usuario")
            deleteUserButton.addEventListener('click', async () => {
                const res = await fetch(`http://localhost:8080/api/users/${user._id}`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });
            })
            usuario.append(roleChange)
            usuario.append(deleteUserButton)
            usersDiv.append(usuario)

        })

    })()

</script>